
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}


:root {
  --saffron-color: #ff9933;
  --bg-color: #fffbeb;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--saffron-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f28c28;
}